prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
  geometry-corner-radius 0
    clip-to-geometry true
    draw-border-with-background false
    background-effect {
        blur true
    }
    min-width 480
    max-width 1920
    tiled-state true
}

gestures {
    dnd-edge-view-scroll {
       
        delay-ms 0
        max-speed 4000
    }

    dnd-edge-workspace-switch {
        trigger-height 10
        delay-ms 0
    }
     hot-corners {
        off
    }
}

overview {
    zoom 0.45
    workspace-shadow {
    off
    }
}

blur {

    //off
    passes 2
    offset 1
    noise 0
    saturation 1.4
}

environment {
  QT_QPA_PLATFORMTHEME "qt6ct"
}

debug {

    honor-xdg-activation-with-invalid-serial 
    deactivate-unfocused-windows
 
}

hotkey-overlay {
    hide-not-bound
    // skip-at-startup
}

recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 120

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 0
        corner-radius 0
    }

    previews {
       
        max-scale 1
    }

    binds {
        Alt+Tab         { next-window; }

        Alt+grave       { previous-window; }
    }
}

input {

   warp-mouse-to-focus
    focus-follows-mouse
    disable-power-key-handling
    workspace-auto-back-and-forth
    mod-key "Super"

  

    touchpad {
     
        tap
   		drag true
   		       drag-lock
   		      // disabled-on-external-mouse
   		      // left-handed
   		 click-method "button-areas"
   		 scroll-method "two-finger"
   		  accel-speed 0.28
   		  accel-profile "adaptive"
   		 tap-button-map "left-right-middle"
   	 scroll-factor 1.0
   		 
    }

     
    mouse {
        // natural-scroll
        // left-handed
        // middle-emulation
        accel-speed 0.2
        accel-profile "flat"
        scroll-factor 1.0
    }
    
    keyboard {
        track-layout "global"
        numlock
        repeat-delay 250
        repeat-rate 28
    }
}

layout {
    gaps 0
    always-center-single-column
    default-column-display "normal"
    default-column-width { fixed 960; }
    center-focused-column "never"
    background-color "transparent"

    preset-column-widths {
      proportion 0.25
      proportion 0.5
      proportion 0.75
    }

    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }
    
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }

    focus-ring {
        on
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
        width 1
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    insert-hint {
       // off
        color "#ffc87f70"
    }

   
       tab-indicator {
           hide-when-single-tab
           place-within-column
           corner-radius 0
           width 4
           length total-proportion=1.0
           gap 4
           gaps-between-tabs 2
       }
       
    shadow {
        // Uncomment the next line to enable shadows.
         on
      

        softness 50
        

        spread 10
        offset x=0 y=0

    }
}

animations {
    workspace-switch {
        spring damping-ratio=0.9 stiffness=800 epsilon=0.0001
    }

    horizontal-view-movement {
        spring damping-ratio=0.9 stiffness=800 epsilon=0.0001
    }

    window-open {
        duration-ms 200
        curve "linear"

        custom-shader r"
          vec4 open_color(vec3 coords_geo, vec3 size_geo) {
            float p0 = niri_clamped_progress;
            float p  = smoothstep(0.0, 1.0, p0);

            vec2 size   = size_geo.xy;
            vec2 center = size * 0.5;
            vec2 pos    = coords_geo.xy * size;

            float scale = mix(0.01, 1.0, p);

            vec2 scaled_pos = (pos - center) / scale + center;
            vec2 uv = scaled_pos / size;

            if (uv.x < 0.0 || uv.x > 1.0 ||
                uv.y < 0.0 || uv.y > 1.0) {
                return vec4(0.0, 0.0, 0.0, 0.0);
            }

            return texture2D(niri_tex, uv);
          }
        "
    }

    window-close {
        duration-ms 200
        curve "linear"

        custom-shader r"
          vec4 close_color(vec3 coords_geo, vec3 size_geo) {
            float p0 = niri_clamped_progress;
            float p  = smoothstep(0.0, 1.0, p0);

            vec2 size   = size_geo.xy;
            vec2 center = size * 0.5;
            vec2 pos    = coords_geo.xy * size;

            float scale = mix(1.0, 0.01, p);

            vec2 scaled_pos = (pos - center) / scale + center;
            vec2 uv = scaled_pos / size;

            if (uv.x < 0.0 || uv.x > 1.0 ||
                uv.y < 0.0 || uv.y > 1.0) {
                return vec4(0.0, 0.0, 0.0, 0.0);
            }

            return texture2D(niri_tex, uv);
          }
        "
    }
}

include "keybinds.kdl"
include "rules.kdl"
spawn-at-startup "noctalia"
spawn-sh-at-startup "sleep 3 && easyeffects --service-mode -w"
spawn-sh-at-startup "sleep 3 && vesktop -m"
